
name: checkCmake

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential cmake

      - name: Build project for Linux
        run: cmake . && make

  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: choco install -y visualstudio2019buildtools --package-parameters "--includeRecommended --includeOptional --passive"

      - name: Build project
        run: msbuild.exe /t:Build /p:Configuration=Release /p:Platform=x64

      - name: Run tests
        run: ctest --verbose
      
 
